<?xml version="1.0"?>
<config>
    <modules>
        <Limesoda_Cashpresso>
            <version>0.1.0</version>
        </Limesoda_Cashpresso>
    </modules>
    <global>
        <models>
            <ls_cashpresso>
                <class>Limesoda_Cashpresso_Model</class>
                <resourceModel>ls_cashpresso_resource</resourceModel>
            </ls_cashpresso>
            <ls_cashpresso_resource>
                <class>Limesoda_Cashpresso_Model_Resource</class>
            </ls_cashpresso_resource>
        </models>
        <blocks>
            <ls_cashpresso>
                <class>Limesoda_Cashpresso_Block</class>
            </ls_cashpresso>
        </blocks>
        <helpers>
            <ls_cashpresso>
                <class>Limesoda_Cashpresso_Helper</class>
            </ls_cashpresso>
        </helpers>
        <resources>
            <ls_cashpresso_setup>
                <setup>
                    <module>Limesoda_Cashpresso</module>
                </setup>
            </ls_cashpresso_setup>
        </resources>
    </global>

    <frontend>
        <events>
            <!--<core_block_abstract_to_html_after>
                <observers>
                    <ls_cashpresso_before_print>
                        <type>singleton</type>
                        <class>ls_cashpresso/observer_block</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </ls_cashpresso_before_print>
                </observers>
            </core_block_abstract_to_html_after>-->
            <!-- <controller_action_predispatch>
                <observers>
                    <limesoda_cashpresso>
                        <type>singleton</type>
                        <class>ls_cashpresso/observer_block</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </limesoda_cashpresso>
                </observers>
            </controller_action_predispatch>-->
        </events>

        <layout>
            <updates>
                <limesoda_cashpresso>
                    <file>limesoda/cashpresso.xml</file>
                </limesoda_cashpresso>
            </updates>
        </layout>
    </frontend>

    <phpunit>
        <suite>
            <modules>
                <Limesoda_Cashpresso/>
            </modules>
        </suite>
    </phpunit>

    <crontab>
        <jobs>
            <limesoda_cashpresso_setting>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ls_cashpresso/cron::syncSettings</model>
                </run>
            </limesoda_cashpresso_setting>
        </jobs>
    </crontab>

    <default>
        <cashpresso>
            <options>
                <status>0</status>
                <mode>0</mode>
                <widget_type>1</widget_type>
            </options>
        </cashpresso>
    </default>
</config>