<?xml version="1.0"?>
<config>
    <modules>
        <LimeSoda_Cashpresso>
            <version>0.1.0</version>
        </LimeSoda_Cashpresso>
    </modules>
    <global>
        <models>
            <ls_cashpresso>
                <class>LimeSoda_Cashpresso_Model</class>
            </ls_cashpresso>
        </models>
        <blocks>
            <ls_cashpresso>
                <class>LimeSoda_Cashpresso_Block</class>
            </ls_cashpresso>
        </blocks>
        <helpers>
            <ls_cashpresso>
                <class>LimeSoda_Cashpresso_Helper</class>
            </ls_cashpresso>
        </helpers>
    </global>

    <frontend>
        <events>
            <sales_quote_payment_import_data_before>
                <observers>
                    <limesoda_cashpresso>
                        <type>singleton</type>
                        <method>addPostHashOrder</method>
                        <class>ls_cashpresso/observer_payment</class>
                    </limesoda_cashpresso>
                </observers>
            </sales_quote_payment_import_data_before>

            <!-- sales_order_place_after sales_order_place_before -->
            <sales_order_payment_place_end>
                <observers>
                    <limesoda_cashpresso>
                        <type>singleton</type>
                        <method>sendOrder</method>
                        <class>ls_cashpresso/observer_payment</class>
                    </limesoda_cashpresso>
                </observers>
            </sales_order_payment_place_end>

            <checkout_onepage_controller_success_action>
                <observers>
                    <ls_cashpresso_order_register>
                        <type>singleton</type>
                        <class>ls_cashpresso/observer_block</class>
                        <method>setOrder</method>
                    </ls_cashpresso_order_register>
                </observers>
            </checkout_onepage_controller_success_action>

            <core_block_abstract_to_html_after>
                <observers>
                    <ls_cashpresso_before_print>
                        <type>singleton</type>
        2                <class>ls_cashpresso/observer_block</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </ls_cashpresso_before_print>
                </observers>
            </core_block_abstract_to_html_after>
        </events>

        <layout>
            <updates>
                <limesoda_cashpresso>
                    <file>limesoda/cashpresso.xml</file>
                </limesoda_cashpresso>
            </updates>
        </layout>

        <routers>
            <cashpresso>
                <use>standard</use>
                <args>
                    <frontName>cashpresso</frontName>
                    <module>LimeSoda_Cashpresso</module>
                </args>
            </cashpresso>
        </routers>

        <translate>
            <modules>
                <LimeSoda_Cashpresso>
                    <files>
                        <default>LimeSoda_Cashpresso.csv</default>
                    </files>
                </LimeSoda_Cashpresso>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <LimeSoda_Cashpresso>
                    <files>
                        <default>LimeSoda_Cashpresso.csv</default>
                    </files>
                </LimeSoda_Cashpresso>
            </modules>
        </translate>
    </adminhtml>

    <phpunit>
        <suite>
            <modules>
                <LimeSoda_Cashpresso/>
            </modules>
        </suite>
    </phpunit>

    <crontab>
        <jobs>
            <limesoda_cashpresso_setting>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ls_cashpresso/cron::syncSettings</model>
                </run>
            </limesoda_cashpresso_setting>
        </jobs>
    </crontab>

    <default>
        <payment>
            <cashpresso>
                <payment_action>sale</payment_action>
                <active>0</active>
                <model>ls_cashpresso/payment_method_cashpresso</model>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <status>1</status>
                <mode>0</mode>
                <widget_type>1</widget_type>
                <template>or from € {{price}} / month</template>
                <active>0</active>
                <timeout>24</timeout>
                <sign_contract_text><![CDATA[<p class="a-center" style="margin-top:10px;">Um die Finanzierung deines Einkaufs abzuschließen musst du dich via Videocall identifizieren. Bitte halte dazu deinen Pass oder Personalausweis bereit.</p><p class="a-center"><img style="display:inline-block;" src="{{skin url='cashpresso/images/passport.png'}}"/><p>]]></sign_contract_text>
                <checkout_button>1</checkout_button>
                <place_to_show>3</place_to_show>
                <description>Processing</description>
                <debug_mode>1</debug_mode>
            </cashpresso>
        </payment>
    </default>
</config>