<?xml version="1.0"?>
<config>
    <modules>
        <LimeSoda_Cashpresso>
            <version>1.0.1</version>
        </LimeSoda_Cashpresso>
    </modules>
    <global>
        <models>
            <ls_cashpresso>
                <class>LimeSoda_Cashpresso_Model</class>
            </ls_cashpresso>
        </models>
        <blocks>
            <ls_cashpresso>
                <class>LimeSoda_Cashpresso_Block</class>
            </ls_cashpresso>
        </blocks>
        <helpers>
            <ls_cashpresso>
                <class>LimeSoda_Cashpresso_Helper</class>
            </ls_cashpresso>
        </helpers>
    </global>

    <frontend>
        <events>
            <sales_quote_payment_import_data_before>
                <observers>
                    <limesoda_cashpresso>
                        <type>singleton</type>
                        <method>addPostHashOrder</method>
                        <class>ls_cashpresso/observer_payment</class>
                    </limesoda_cashpresso>
                </observers>
            </sales_quote_payment_import_data_before>

            <!-- sales_order_place_after sales_order_place_before -->
            <sales_order_payment_place_end>
                <observers>
                    <limesoda_cashpresso>
                        <type>singleton</type>
                        <method>sendOrder</method>
                        <class>ls_cashpresso/observer_payment</class>
                    </limesoda_cashpresso>
                </observers>
            </sales_order_payment_place_end>

            <checkout_onepage_controller_success_action>
                <observers>
                    <ls_cashpresso_order_register>
                        <type>singleton</type>
                        <class>ls_cashpresso/observer_block</class>
                        <method>setOrder</method>
                    </ls_cashpresso_order_register>
                </observers>
            </checkout_onepage_controller_success_action>

            <core_block_abstract_to_html_before>
                <observers>
                    <ls_cashpresso_template>
                        <type>singleton</type>
                        <class>ls_cashpresso/observer_block</class>
                        <method>defineTemplate</method>
                    </ls_cashpresso_template>
                </observers>
            </core_block_abstract_to_html_before>

            <core_block_abstract_to_html_after>
                <observers>
                    <ls_cashpresso_before_print>
                        <type>singleton</type>
                        <class>ls_cashpresso/observer_block</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </ls_cashpresso_before_print>
                </observers>
            </core_block_abstract_to_html_after>

            <controller_front_send_response_before>
                <observers>
                    <ls_cashpresso_before_print>
                        <type>singleton</type>
                        <class>ls_cashpresso/observer_payment</class>
                        <method>updatePrice</method>
                    </ls_cashpresso_before_print>
                </observers>
            </controller_front_send_response_before>
        </events>

        <layout>
            <updates>
                <limesoda_cashpresso>
                    <file>limesoda/cashpresso.xml</file>
                </limesoda_cashpresso>
            </updates>
        </layout>

        <routers>
            <cashpresso>
                <use>standard</use>
                <args>
                    <frontName>cashpresso</frontName>
                    <module>LimeSoda_Cashpresso</module>
                </args>
            </cashpresso>
        </routers>

        <translate>
            <modules>
                <LimeSoda_Cashpresso>
                    <files>
                        <default>LimeSoda_Cashpresso.csv</default>
                    </files>
                </LimeSoda_Cashpresso>
            </modules>
        </translate>

        <cashpresso>
            <product_types>
                <simple>simple</simple>
                <configurable>configurable</configurable>
                <bundle>bundle</bundle>
                <virtual>virtual</virtual>
            </product_types>
        </cashpresso>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <LimeSoda_Cashpresso>
                    <files>
                        <default>LimeSoda_Cashpresso.csv</default>
                    </files>
                </LimeSoda_Cashpresso>
            </modules>
        </translate>

        <events>
            <admin_system_config_changed_section_payment>
                <observers>
                    <cashpress_save_config>
                        <type>singleton</type>
                        <class>ls_cashpresso/observer_config</class>
                        <method>adminSystemConfigChangedSection</method>
                    </cashpress_save_config>
                </observers>
            </admin_system_config_changed_section_payment>
        </events>
    </adminhtml>

    <phpunit>
        <suite>
            <modules>
                <LimeSoda_Cashpresso/>
            </modules>
        </suite>
    </phpunit>

    <crontab>
        <jobs>
            <limesoda_cashpresso_setting>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ls_cashpresso/cron::syncSettings</model>
                </run>
            </limesoda_cashpresso_setting>
        </jobs>
    </crontab>

    <default>
        <payment>
            <cashpresso>
                <payment_action>sale</payment_action>
                <active>0</active>
                <model>ls_cashpresso/payment_method_cashpresso</model>
                <title>Ratenkauf</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <status>1</status>
                <mode>0</mode>
                <widget_type>1</widget_type>
                <template>ab € {{price}} / Monat</template>
                <active>0</active>
                <timeout>336</timeout>
                <sign_contract_text><![CDATA[Schließe deine Bestellung ab indem du deinen Einkauf mit cashpresso bezahlst. Durch Klick auf „Jetzt bezahlen“ öffnet sich ein Fenster und du kannst den Ratenkauf mit cashpresso abschließen. ]]></sign_contract_text>
                <success_text><![CDATA[Vielen Dank für deinen Einkauf! Du hast die Bestellung erfolgreich abgeschlossen und deinen Einkauf mit cashpresso bezahlt.]]></success_text>
                <checkout_button>1</checkout_button>
                <checkout_url>checkout/onepage</checkout_url>
                <place_to_show>3</place_to_show>
                <interestFreeDaysMerchant>0</interestFreeDaysMerchant>
                <debug_mode>1</debug_mode>
                <instructions><![CDATA[cashpresso ermöglicht dir Einkäufe in Raten zu bezahlen. Deine Ratenhöhe kannst du dir beim Kauf aussuchen und später jederzeit ändern.]]></instructions>
                <success_button_title>Einkauf bezahlt</success_button_title>
                <success_title>Wir haben Ihre Bestellung erhalten.</success_title>
            </cashpresso>
        </payment>
    </default>

    <stores>
        <english>
            <payment>
                <cashpresso>
                    <title>Financing</title>
                    <template>from € {{price}} / month</template>
                    <sign_contract_text><![CDATA[Pay for the order to complete the purchase. Complete your order by paying for your purchase with cashpresso. By clicking on "Pay Now" a window opens and you can complete your purchase with cashpresso.]]></sign_contract_text>
                    <success_text><![CDATA[Thank you for your order! You have successfully completed the order and paid for your purchase with cashpresso.]]></success_text>
                    <instructions><![CDATA[cashpresso allows you to pay for purchases in installments. You can choose your installment amount when buying and change it anytime after.]]></instructions>
                    <success_button_title>Purchase paid</success_button_title>
                    <success_title>Your order has been received.</success_title>
                </cashpresso>
            </payment>
        </english>
    </stores>
</config>